@{
    ViewData["Title"] = "Stocks";
}

<style>
    body {
        background-color: #802539;
        margin: 0;
        padding: 0;
        display: flex;
        height: 100vh;
    }

    .custom-button {
        display: flex;
        align-items: center;
        justify-content: center;
        left: 300px;
        width: 150px;
        height: 100px;
        background-color: #fadadd; /* Butonun arka plan rengi */
        color: #8e5b68; /* Buton metni rengi */
        border: none;
        border-radius: 5px; /* İsteğe bağlı: Butonun kenarlarını yuvarlama */
        cursor: pointer;
    }

        .custom-button img {
            max-width: 85%; /* Görselin butona göre maksimum genişlikte olması */
            max-height: 85%; /* Görselin butona göre maksimum yükseklikte olması */
            /*margin-right: 5px; /* İsteğe bağlı: Görsel ile metin arasında bir boşluk bırakma */
        }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Butonları sola hizala */
        justify-content: center;
        width: 25%; /* Ekranın sağ tarafını kaplaması için genişlik */
        padding: 20px;
    }

    .image-container {
        width: 75%; /* Ekranın sol tarafını kaplaması için genişlik */
    }

        .image-container img {
            width: 100%; /* İsteğe bağlı: Görseli tam genişlikte göster */
            height: auto; /* İsteğe bağlı: Oranları koruyarak görsel boyutunu ayarla */
        }
</style>

<div class="button-container">
    <form action="@Url.Action("Hammadde", "Home")" method="get" style="width:150px;">
        <button class="custom-button" style="flex-direction: column;  margin-left: 40px; margin-top: 90px">
            <img src="~/css/uretim.png" alt="mainMenuButton">
            Raw Materials
        </button>
    </form>

    <form action="@Url.Action("Uretim", "Home")" method="get" style="width:150px;">
        <button class="custom-button" style="flex-direction: column;  margin-left: 40px;  margin-top: 10px">
            <img src="~/css/uretim.png" alt="mainMenuButton">
            Production
        </button>
    </form>

    <form action="@Url.Action("Mamul", "Home")" method="get" style="width:150px;">
        <button class="custom-button" style="flex-direction: column; margin-left: 40px;  margin-top: 10px">
            <img src="~/css/uretim.png" alt="mainMenuButton">
            Finished Products
        </button>
    </form>
    <form action="@Url.Action("Menu", "Home")" method="get" style="width:150px;">
        <button class="custom-button" style="flex-direction: column; margin-left: 40px;  margin-top: 10px">
            <img src="~/css/uretim.png" alt="mainMenuButton">
            Back
        </button>
    </form>
</div>
    <img id="stock" src="~/css/barrel.png" alt="winecat" style="position:fixed; top: 70px; right: 200px; width:379px;">
